/* Set background image */
/* Set background image */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header{
    font-family: 'Lobster', sans-serif;;
}
body {
    background-image: url('../images/picture-of-food.jpg'); /* Adjust the path as necessary */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */


}

    
.diamond{
    width: 25px;
}